<% content_for :page_class do %>partners<% end %>
<div class="aside span-6" role="complementary">
  <%= render '/layouts/follow_us' %>
</div>
<div class="main span-18 last" role="main">
  <div class="area highlight">
    <%= render :partial => '/shared/stripes', :locals => { :label => 'Partner' } %>
  </div>
		<div class="span-18 last">
    		<h3>Sponsor</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.tiesse.com/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/tiesse.jpg", alt: "Tiesse", title: "Tiesse" %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.studiosit.com/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/sit.jpg", alt: "Sit", title: "Sit" %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.hcrystalpalace.com/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/palace.jpg", alt: "Hotel Crystal Palace", title: "Crystal Palace"  %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.ivrealavilla.com/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/villa.jpg", alt: "Hotel La Villa", title: "La Villa" %>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/building.jpg", alt: "Building", title: "building", width: "100", height: "60" %>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/levabolli.jpg", alt: "levabolli", title: "levabolli", width: "110", height: "60" %>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/darna.jpg", alt: "Darna ristorante", title: "Darna ristorante",  width: "110", height: "60" %>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/peretto.jpg", alt: "peretto" , title: "peretto", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/vanore.jpg", alt: "vanore" , title: "vanore", width: "130", height: "70" %>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/anstel.jpg", alt: "anstel" , title: "anstel", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/one.jpg", alt: "one" , title: "one", width: "110", height: "60" %>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/motorini.png", alt: "motorini elettrici" , title: "motorini elettrici", width: "150", height: "80" %>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/aidols.png", alt: "aidols" , title: "aidols", width: "130", height: "70" %>
		</a></div>
		<div class="span-18 last">
    		<h3>Istituzioni</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.comune.strambino.to.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/strambino.jpg", alt: "Comune di Strambino" , title: "Comune di Strambino", width: "70", height: "100" %>
		</a></div>
		<div class="vcard span-3"><a href=" http://www.comune.strambino.to.it/i-servizi/l-amministrazione-informa-1/programmi-e-iniziative/consulta-giovanile" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/consulta.jpg", alt: "Consulta Giovanile" , title: "Consulta Giovanile", width: "100", height: "80" %>
		</a></div>
		<div class="vcard span-3"><a href=" http://www.anfiteatromorenico.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/collinare.jpg", alt: "Comunita' Collinare" , title: "Comunita' Collinare", width: "120", height: "60" %>
		</a></div>
		<div class="span-18 last">		
		    <h3>Media Partner</h3>
        </div>
		<div class="vcard span-3"><a href="http://www.toastit.com/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/toast.jpg", alt: "Toast Records" , title: "Toast Records", width: "100", height: "40" %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.myspace.com/audiocoopiemonte" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/Audiocoop.jpg", alt: "Audiocoop" , title: "Audiocoop Piemonte", width: "100", height: "40" %>
		</a></div>
		<div class="vcard span-3 last"><a href="http://www.lifegate.it/it/home" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/lifegate.jpg", alt: "Lifegate" , title: "Lifegate", width: "100", height: "40" %>
		</a></div>
		<div class="vcard span-3 last"><a href="http://www.lifegate.it/it/eco/profit/impatto_zero/progetto" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/zero.jpg", alt: "Impatto Zero" , title: "Impatto Zero", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.opera-music.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/operamusic.jpg", alt: "Opera music" , title: "Opera music", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.masterblack.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/masterblack.jpg", alt: "Masterblack" , title: "Masterblack", width: "100", height: "60" %>
		</a></div>
		<div class="span-18 last">
    		<h3>Collaborazioni & Servizi</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.sunergsolar.com/it/index.php" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/sunerg.jpg", alt: "Sunerg Solar" , title: "Sunerg Solar", width: "100", height: "40" %>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/servedio.png", alt: "servedio" , title: "servedio", width: "100", height: "40" %>
		</a></div>
				<div class="vcard span-3 last"><a href="http://www.scuolinaddis.org/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/yeka.jpg", alt: "Scuolina di Addis Abeba YEKA" , title: "Scuolina di Addis Abeba YEKA", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3 last"><a href="http://www.3bite.it/3bite/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/3bite.jpg", alt: "3Bite" , title: "3 Bite Comunicazioni Eventi", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.ugi-torino.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/ugi.jpg", alt: "U.G.I.", title: "U.G.I.", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.gruppogcomunicazione.com/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/gruppoG.jpg", alt: "gruppoG" , title: "gruppoG", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.insiemepermatilde.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/matilde.png", alt: "Matilde" , title: "Matilde", width: "120", height: "40" %>
		</a></div>
		<div class="vcard span-3 last"><a href="https://www.facebook.com/AssociazioneAlbertoVidano?fref=ts" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/vidano.jpg", alt: "Associazione Vidano" , title: "Associazione Vidano", width: "120", height: "40" %>
		</a></div>
		<div class="vcard span-3"><br><a href="http://http://www.cittadelladeigiovani.ao.it//" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/cittadella.jpg", alt: "Cittadella dei Giovani AO" , title: "Cittadella dei Giovani AO", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.mercenari.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/mercenari.jpg", alt: "Aranceri Mercenari" , title: "Aranceri Mercenari", width: "60", height: "60" %>
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.opendartpiemonte.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/dart.jpg", alt: "Open Dart Piemonte" , title: "Open Dart Piemonte", width: "80", height: "80" %>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/tls.jpg", alt: "TLS" , title: "TLS", width: "100", height: "40" %>
		</a></div>
		<div class="span-18 last">
    		<h3>Festival Amici</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.resetfestival.it/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/reset.jpg", alt: "Reset Festival" , title: "Reset Festival", width: "100", height: "40" %>
		</a></div>
		<div class="vcard span-3"><a href="http://www.aostasoundfest.com/" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/aostasound.png", alt: "Aosta Sound Fest" , title: "Aosta Sound Fest", width: "100", height: "40" %>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<%= image_tag "partners/carovana.jpg", alt: "Carovana dei festival" , title: "Carovana dei festival", width: "100", height: "40" %>
		</a></div>		
		<div class="span-18 last">
    		<h3></h3>
		</div>
</div>